# Rain
P=precipitation mm

In [3]:
# This script reads daily precipitation data, processes it,
# and writes the result to a CSV file.

# ---- Package Installation and Loading ----
# Ensure required packages are installed and loaded
required_packages <- c("dplyr", "lubridate")
installed_packages <- rownames(installed.packages())
for (pkg in required_packages) {
    if (!pkg %in% installed_packages) {
        install.packages(pkg, dependencies = TRUE)
    }
    library(pkg, character.only = TRUE)
}

# ---- Data Reading ----
# Read the daily measurement file (CSV)
rain_data <- read.csv("../data/FLX_CH-Oe2_FLUXNET2015_FULLSET_2004-2023_1-3/FLX_CH-Oe2_FLUXNET2015_FULLSET_DD_2004-2023_1-3.csv")

# filter data for P_F variable (precipitation)
rain_data <- rain_data %>%
    select(TIMESTAMP, P_F)
head(rain_data)
# convert TIMESTAMP to Date type yyyy-mm-dd from YYYYMMDD format
rain_data$TIMESTAMP <- as.Date(as.character(rain_data$TIMESTAMP), format = "%Y%m%d")
# rename columns for clarity
colnames(rain_data) <- c("date", "rain_mm")
head(rain_data)
# save to csv file
write.csv(rain_data, "../data/01_data_prep/08_rain.csv", row.names = FALSE)

  TIMESTAMP P_F
1 20040101  1.6
2 20040102  0.5
3 20040103  0.0
4 20040104  0.0
5 20040105  0.0
6 20040106  0.0

  date       rain_mm
1 2004-01-01 1.6
2 2004-01-02 0.5
3 2004-01-03 0.0
4 2004-01-04 0.0
5 2004-01-05 0.0
6 2004-01-06 0.0