# Final data preparation for CN model

In [1]:
# load required libraries
library(dplyr)
library(tidyr)
library(ggplot2)
library(lubridate)

Attache Paket: 'dplyr'


Die folgenden Objekte sind maskiert von 'package:stats':

    filter, lag


Die folgenden Objekte sind maskiert von 'package:base':

    intersect, setdiff, setequal, union



Attache Paket: 'lubridate'


Die folgenden Objekte sind maskiert von 'package:base':

    date, intersect, setdiff, union

In [2]:
# create a dataframe with the required columns: 
df <- data.frame(
  date = seq(as.Date("2004-01-01"), as.Date("2023-12-31"), by = "day"),
  temp = NA,
  vpd = NA,
  ppfd = NA,
  netrad = NA,
  patm = NA,
  snow = NA,
  rain = NA,
  tmin = NA,
  tmax = NA,
  vwind = NA,
  fapar = NA,
  co2 = NA,
  ccov = NA,
  gpp = NA,
  le = NA,
  le_qc = NA,
  nee = NA,
  nee_qc = NA
)
# print the head of the dataframe
head(df)

  date       temp vpd ppfd netrad patm snow rain tmin tmax vwind fapar co2 ccov
1 2004-01-01 NA   NA  NA   NA     NA   NA   NA   NA   NA   NA    NA    NA  NA
2 2004-01-02 NA   NA  NA   NA     NA   NA   NA   NA   NA   NA    NA    NA  NA
3 2004-01-03 NA   NA  NA   NA     NA   NA   NA   NA   NA   NA    NA    NA  NA
4 2004-01-04 NA   NA  NA   NA     NA   NA   NA   NA   NA   NA    NA    NA  NA
5 2004-01-05 NA   NA  NA   NA     NA   NA   NA   NA   NA   NA    NA    NA  NA
6 2004-01-06 NA   NA  NA   NA     NA   NA   NA   NA   NA   NA    NA    NA  NA
  gpp le le_qc nee nee_qc
1 NA  NA NA    NA  NA
2 NA  NA NA    NA  NA
3 NA  NA NA    NA  NA
4 NA  NA NA    NA  NA
5 NA  NA NA    NA  NA
6 NA  NA NA    NA  NA

## load specific csv files and extract required columns

### temp, tmin, tmax

In [3]:
# read temp, tmin and tmax data
temp_data <- read.csv("../data/01_data_prep/01_temp_tmin_tmax.csv")
# print the head of the temp_data
head(temp_data)
# convert date column to Date type
temp_data$date <- as.Date(temp_data$date)

# update the existing columns in df with values from temp_data
df <- df %>% 
    left_join(temp_data %>% select(date, temp, tmin, tmax), by = "date", suffix = c("", "_new")) %>%
    mutate(
        temp = temp_new,
        tmin = tmin_new,
        tmax = tmax_new
    ) %>%
    select(-temp_new, -tmin_new, -tmax_new)
# print the head of the df
head(df)

  date       temp   tmin   tmax
1 2004-01-01 -0.227  -1.23 -0.01
2 2004-01-02 -0.499  -2.06 -0.05
3 2004-01-03 -2.956  -5.82 -2.19
4 2004-01-04 -4.209 -10.45 -1.48
5 2004-01-05 -1.192  -8.10  0.53
6 2004-01-06 -1.580  -7.24  0.35

  date       temp   vpd ppfd netrad patm snow rain tmin   tmax  vwind fapar co2
1 2004-01-01 -0.227 NA  NA   NA     NA   NA   NA    -1.23 -0.01 NA    NA    NA
2 2004-01-02 -0.499 NA  NA   NA     NA   NA   NA    -2.06 -0.05 NA    NA    NA
3 2004-01-03 -2.956 NA  NA   NA     NA   NA   NA    -5.82 -2.19 NA    NA    NA
4 2004-01-04 -4.209 NA  NA   NA     NA   NA   NA   -10.45 -1.48 NA    NA    NA
5 2004-01-05 -1.192 NA  NA   NA     NA   NA   NA    -8.10  0.53 NA    NA    NA
6 2004-01-06 -1.580 NA  NA   NA     NA   NA   NA    -7.24  0.35 NA    NA    NA
  ccov gpp le le_qc nee nee_qc
1 NA   NA  NA NA    NA  NA
2 NA   NA  NA NA    NA  NA
3 NA   NA  NA NA    NA  NA
4 NA   NA  NA NA    NA  NA
5 NA   NA  NA NA    NA  NA
6 NA   NA  NA NA    NA  NA

### vwind

In [4]:
# read the vwind data
vwind_data <- read.csv("../data/01_data_prep/01a_vwind.csv")
# print the head of the vwind_data
head(vwind_data)
# convert date column to Date type
vwind_data$date <- as.Date(vwind_data$date)

# update the existing columns in df with values from vwind_data
df <- df %>% 
    left_join(vwind_data %>% select(date, wind_velocity_ms), by = "date", suffix = c("", "_new")) %>%
    mutate(vwind = wind_velocity_ms) %>%
    select(-wind_velocity_ms)
# print the head of the df
head(df)

  date       wind_velocity_ms
1 2004-01-01 1.520
2 2004-01-02 2.022
3 2004-01-03 2.716
4 2004-01-04 1.089
5 2004-01-05 0.675
6 2004-01-06 0.701

  date       temp   vpd ppfd netrad patm snow rain tmin   tmax  vwind fapar co2
1 2004-01-01 -0.227 NA  NA   NA     NA   NA   NA    -1.23 -0.01 1.520 NA    NA
2 2004-01-02 -0.499 NA  NA   NA     NA   NA   NA    -2.06 -0.05 2.022 NA    NA
3 2004-01-03 -2.956 NA  NA   NA     NA   NA   NA    -5.82 -2.19 2.716 NA    NA
4 2004-01-04 -4.209 NA  NA   NA     NA   NA   NA   -10.45 -1.48 1.089 NA    NA
5 2004-01-05 -1.192 NA  NA   NA     NA   NA   NA    -8.10  0.53 0.675 NA    NA
6 2004-01-06 -1.580 NA  NA   NA     NA   NA   NA    -7.24  0.35 0.701 NA    NA
  ccov gpp le le_qc nee nee_qc
1 NA   NA  NA NA    NA  NA
2 NA   NA  NA NA    NA  NA
3 NA   NA  NA NA    NA  NA
4 NA   NA  NA NA    NA  NA
5 NA   NA  NA NA    NA  NA
6 NA   NA  NA NA    NA  NA

### vpd

In [5]:
# read vpd data
vpd_data <- read.csv("../data/01_data_prep/02_vpd.csv")
# print the head of the vpd_data
head(vpd_data)
# convert date column to Date type
vpd_data$date <- as.Date(vpd_data$date)

# update the existing columns in df with values from vpd_data
df <- df %>% 
    left_join(vpd_data %>% select(date, vpd_day), by = "date") %>%
    mutate(vpd = vpd_day) %>%
    select(-vpd_day)
# print the head of the df
head(df)

  date       vpd_day  vpd_night vpd_24h   vpd_daily_flux
1 2004-01-01  6.51250  4.004167  5.258333  5.3
2 2004-01-02  0.00000  2.091667  1.045833  1.0
3 2004-01-03  7.08750 14.075000 10.581250 10.6
4 2004-01-04 76.00417 41.058333 58.531250 58.5
5 2004-01-05 23.92917 27.658333 25.793750 25.8
6 2004-01-06 23.83750  5.025000 14.431250 14.4

  date       temp   vpd      ppfd netrad patm snow rain tmin   tmax  vwind
1 2004-01-01 -0.227  6.51250 NA   NA     NA   NA   NA    -1.23 -0.01 1.520
2 2004-01-02 -0.499  0.00000 NA   NA     NA   NA   NA    -2.06 -0.05 2.022
3 2004-01-03 -2.956  7.08750 NA   NA     NA   NA   NA    -5.82 -2.19 2.716
4 2004-01-04 -4.209 76.00417 NA   NA     NA   NA   NA   -10.45 -1.48 1.089
5 2004-01-05 -1.192 23.92917 NA   NA     NA   NA   NA    -8.10  0.53 0.675
6 2004-01-06 -1.580 23.83750 NA   NA     NA   NA   NA    -7.24  0.35 0.701
  fapar co2 ccov gpp le le_qc nee nee_qc
1 NA    NA  NA   NA  NA NA    NA  NA
2 NA    NA  NA   NA  NA NA    NA  NA
3 NA    NA  NA   NA  NA NA    NA  NA
4 NA    NA  NA   NA  NA NA    NA  NA
5 NA    NA  NA   NA  NA NA    NA  NA
6 NA    NA  NA   NA  NA NA    NA  NA

### ppfd

In [6]:
# read ppfd data
# ppfd_data <- read.csv("../data/01_data_prep/03_ppfd_data.csv")
ppfd_data <- read.csv("../data/01_data_prep/03b_splash_ppfd.csv")
# print the head of the ppfd_data
head(ppfd_data)
# convert date column to Date type
ppfd_data$date <- as.Date(ppfd_data$date)

# update the existing columns in df with values from ppfd_data
df <- df %>% 
    left_join(ppfd_data %>% select(date, ppfd), by = "date", suffix = c("", "_new")) %>%
    mutate(ppfd = ppfd_new) %>%
    select(-ppfd_new)
# print the head of the df
head(df)

  date       year doy latitude longitude elevation SW_IN_F SW_IN_F_MJ ppfd_obs
1 2004-01-01 2004 1   47.28642 7.73375   452       36.666  3.167942   6.514874
2 2004-01-02 2004 2   47.28642 7.73375   452       40.078  3.462739   7.121123
3 2004-01-03 2004 3   47.28642 7.73375   452       40.147  3.468701   7.133383
4 2004-01-04 2004 4   47.28642 7.73375   452       53.699  4.639594   9.541324
5 2004-01-05 2004 5   47.28642 7.73375   452       37.888  3.273523   6.732000
6 2004-01-06 2004 6   47.28642 7.73375   452       49.015  4.234896   8.709064
  ppfd
1 6.514874
2 7.121123
3 7.133383
4 9.541324
5 6.732000
6 8.709064

  date       temp   vpd      ppfd     netrad patm snow rain tmin   tmax  vwind
1 2004-01-01 -0.227  6.51250 6.514874 NA     NA   NA   NA    -1.23 -0.01 1.520
2 2004-01-02 -0.499  0.00000 7.121123 NA     NA   NA   NA    -2.06 -0.05 2.022
3 2004-01-03 -2.956  7.08750 7.133383 NA     NA   NA   NA    -5.82 -2.19 2.716
4 2004-01-04 -4.209 76.00417 9.541324 NA     NA   NA   NA   -10.45 -1.48 1.089
5 2004-01-05 -1.192 23.92917 6.732000 NA     NA   NA   NA    -8.10  0.53 0.675
6 2004-01-06 -1.580 23.83750 8.709064 NA     NA   NA   NA    -7.24  0.35 0.701
  fapar co2 ccov gpp le le_qc nee nee_qc
1 NA    NA  NA   NA  NA NA    NA  NA
2 NA    NA  NA   NA  NA NA    NA  NA
3 NA    NA  NA   NA  NA NA    NA  NA
4 NA    NA  NA   NA  NA NA    NA  NA
5 NA    NA  NA   NA  NA NA    NA  NA
6 NA    NA  NA   NA  NA NA    NA  NA

### netrad

In [7]:
# read netrad data
netrad_data <- read.csv("../data/01_data_prep/04_netrad.csv")
# print the head of the netrad_data 
head(netrad_data)
# convert date column to Date type
netrad_data$TIMESTAMP <- as.Date(netrad_data$TIMESTAMP)
# rename the TIMESTAMP column to date
colnames(netrad_data)[colnames(netrad_data) == "TIMESTAMP"] <- "date"
# update the existing columns in df with values from netrad_data
df <- df %>% 
    left_join(netrad_data %>% select(date, netrad), by = "date", suffix = c("", "_new")) %>%
    mutate(netrad = netrad_new) %>%
    select(-netrad_new)
# print the head of the df
head(df)

  TIMESTAMP  netrad     netrad_method  netrad_approx netrad_simple
1 2004-01-01   1.339710 Energy Balance 30.30515      25.6662
2 2004-01-02  -4.381670 Energy Balance 34.67159      28.0546
3 2004-01-03  -4.583730 Energy Balance 16.32752      28.1029
4 2004-01-04  -9.018790 Energy Balance 28.20961      37.5893
5 2004-01-05  -6.912368 Energy Balance 36.52219      26.5216
6 2004-01-06 -11.309390 Energy Balance 32.12189      34.3105
  netrad_energy_balance
1   1.339710
2  -4.381670
3  -4.583730
4  -9.018790
5  -6.912368
6 -11.309390

  date       temp   vpd      ppfd     netrad     patm snow rain tmin   tmax
1 2004-01-01 -0.227  6.51250 6.514874   1.339710 NA   NA   NA    -1.23 -0.01
2 2004-01-02 -0.499  0.00000 7.121123  -4.381670 NA   NA   NA    -2.06 -0.05
3 2004-01-03 -2.956  7.08750 7.133383  -4.583730 NA   NA   NA    -5.82 -2.19
4 2004-01-04 -4.209 76.00417 9.541324  -9.018790 NA   NA   NA   -10.45 -1.48
5 2004-01-05 -1.192 23.92917 6.732000  -6.912368 NA   NA   NA    -8.10  0.53
6 2004-01-06 -1.580 23.83750 8.709064 -11.309390 NA   NA   NA    -7.24  0.35
  vwind fapar co2 ccov gpp le le_qc nee nee_qc
1 1.520 NA    NA  NA   NA  NA NA    NA  NA
2 2.022 NA    NA  NA   NA  NA NA    NA  NA
3 2.716 NA    NA  NA   NA  NA NA    NA  NA
4 1.089 NA    NA  NA   NA  NA NA    NA  NA
5 0.675 NA    NA  NA   NA  NA NA    NA  NA
6 0.701 NA    NA  NA   NA  NA NA    NA  NA

### pa

In [8]:
# read pa data
pa_data <- read.csv("../data/01_data_prep/05_pa.csv")
# print the head of the pa_data
head(pa_data)
# convert date column to Date type
pa_data$TIMESTAMP <- as.Date(pa_data$TIMESTAMP)
# rename the TIMESTAMP column to date
colnames(pa_data)[colnames(pa_data) == "TIMESTAMP"] <- "date"
# update the existing columns in df with values from pa_data
df <- df %>% 
    left_join(pa_data %>% select(date, PA_F_pa), by = "date", suffix = c("", "_new"))  %>% 
    mutate(patm = PA_F_pa) %>%
    select(-PA_F_pa)
# print the head of the df
head(df)

  TIMESTAMP  PA_F_kpa PA_F_pa
1 2004-01-01 95.825   95825
2 2004-01-02 95.455   95455
3 2004-01-03 96.232   96232
4 2004-01-04 96.367   96367
5 2004-01-05 96.710   96710
6 2004-01-06 96.656   96656

  date       temp   vpd      ppfd     netrad     patm  snow rain tmin   tmax
1 2004-01-01 -0.227  6.51250 6.514874   1.339710 95825 NA   NA    -1.23 -0.01
2 2004-01-02 -0.499  0.00000 7.121123  -4.381670 95455 NA   NA    -2.06 -0.05
3 2004-01-03 -2.956  7.08750 7.133383  -4.583730 96232 NA   NA    -5.82 -2.19
4 2004-01-04 -4.209 76.00417 9.541324  -9.018790 96367 NA   NA   -10.45 -1.48
5 2004-01-05 -1.192 23.92917 6.732000  -6.912368 96710 NA   NA    -8.10  0.53
6 2004-01-06 -1.580 23.83750 8.709064 -11.309390 96656 NA   NA    -7.24  0.35
  vwind fapar co2 ccov gpp le le_qc nee nee_qc
1 1.520 NA    NA  NA   NA  NA NA    NA  NA
2 2.022 NA    NA  NA   NA  NA NA    NA  NA
3 2.716 NA    NA  NA   NA  NA NA    NA  NA
4 1.089 NA    NA  NA   NA  NA NA    NA  NA
5 0.675 NA    NA  NA   NA  NA NA    NA  NA
6 0.701 NA    NA  NA   NA  NA NA    NA  NA

### fapar

In [9]:
# read fapar data
fapar_data <- read.csv("../data/01_data_prep/06a2_daily_fapar_2004-2023.csv")
# print the head of the fapar_data
head(fapar_data)
# convert date column to Date type
fapar_data$date <- as.Date(fapar_data$date)

# update the existing columns in df with values from fapar_data
df <- df %>% 
    left_join(fapar_data %>% select(date, fapar), by = "date", suffix = c("", "_new")) %>%
    mutate(fapar = fapar_new) %>%
    select(-fapar_new)
# print the head of the df
head(df)

  date       fapar
1 2004-01-01 0.02
2 2004-01-02 0.02
3 2004-01-03 0.02
4 2004-01-04 0.02
5 2004-01-05 0.02
6 2004-01-06 0.02

  date       temp   vpd      ppfd     netrad     patm  snow rain tmin   tmax
1 2004-01-01 -0.227  6.51250 6.514874   1.339710 95825 NA   NA    -1.23 -0.01
2 2004-01-02 -0.499  0.00000 7.121123  -4.381670 95455 NA   NA    -2.06 -0.05
3 2004-01-03 -2.956  7.08750 7.133383  -4.583730 96232 NA   NA    -5.82 -2.19
4 2004-01-04 -4.209 76.00417 9.541324  -9.018790 96367 NA   NA   -10.45 -1.48
5 2004-01-05 -1.192 23.92917 6.732000  -6.912368 96710 NA   NA    -8.10  0.53
6 2004-01-06 -1.580 23.83750 8.709064 -11.309390 96656 NA   NA    -7.24  0.35
  vwind fapar co2 ccov gpp le le_qc nee nee_qc
1 1.520 0.02  NA  NA   NA  NA NA    NA  NA
2 2.022 0.02  NA  NA   NA  NA NA    NA  NA
3 2.716 0.02  NA  NA   NA  NA NA    NA  NA
4 1.089 0.02  NA  NA   NA  NA NA    NA  NA
5 0.675 0.02  NA  NA   NA  NA NA    NA  NA
6 0.701 0.02  NA  NA   NA  NA NA    NA  NA

### co2

In [10]:
# read co2 data
co2_data <- read.csv("../data/01_data_prep/07_co2.csv")
# print the head of the co2_data
head(co2_data)
# convert date column to Date type
co2_data$TIMESTAMP <- as.Date(co2_data$TIMESTAMP)
# rename the TIMESTAMP column to date
colnames(co2_data)[colnames(co2_data) == "TIMESTAMP"] <- "date"
# update the existing columns in df with values from co2_data
df <- df %>% 
    left_join(co2_data %>% select(date, CO2_F_MDS), by = "date", suffix = c("", "_new"))  %>% 
    mutate(co2 = CO2_F_MDS) %>%
    select(-CO2_F_MDS)
# print the head of the df
head(df)

  TIMESTAMP  CO2_F_MDS
1 2004-01-01 384.872
2 2004-01-02 377.952
3 2004-01-03 385.627
4 2004-01-04 402.001
5 2004-01-05 437.166
6 2004-01-06 507.266

  date       temp   vpd      ppfd     netrad     patm  snow rain tmin   tmax
1 2004-01-01 -0.227  6.51250 6.514874   1.339710 95825 NA   NA    -1.23 -0.01
2 2004-01-02 -0.499  0.00000 7.121123  -4.381670 95455 NA   NA    -2.06 -0.05
3 2004-01-03 -2.956  7.08750 7.133383  -4.583730 96232 NA   NA    -5.82 -2.19
4 2004-01-04 -4.209 76.00417 9.541324  -9.018790 96367 NA   NA   -10.45 -1.48
5 2004-01-05 -1.192 23.92917 6.732000  -6.912368 96710 NA   NA    -8.10  0.53
6 2004-01-06 -1.580 23.83750 8.709064 -11.309390 96656 NA   NA    -7.24  0.35
  vwind fapar co2     ccov gpp le le_qc nee nee_qc
1 1.520 0.02  384.872 NA   NA  NA NA    NA  NA
2 2.022 0.02  377.952 NA   NA  NA NA    NA  NA
3 2.716 0.02  385.627 NA   NA  NA NA    NA  NA
4 1.089 0.02  402.001 NA   NA  NA NA    NA  NA
5 0.675 0.02  437.166 NA   NA  NA NA    NA  NA
6 0.701 0.02  507.266 NA   NA  NA NA    NA  NA

### rain

In [11]:
# read rain data
rain_data <- read.csv("../data/01_data_prep/08_rain.csv")
# print the head of the rain_data
head(rain_data)
# convert date column to Date type
rain_data$date <- as.Date(rain_data$date)
# update the existing columns in df with values from rain_data
df <- df %>% 
    left_join(rain_data %>% select(date, rain), by = "date", suffix = c("", "_new")) %>%
    mutate(rain = rain_new) %>%
    select(-rain_new)
# print the head of the df
head(df)

  date       rain_mm rain
1 2004-01-01 1.6     1.851852e-05
2 2004-01-02 0.5     5.787037e-06
3 2004-01-03 0.0     0.000000e+00
4 2004-01-04 0.0     0.000000e+00
5 2004-01-05 0.0     0.000000e+00
6 2004-01-06 0.0     0.000000e+00

  date       temp   vpd      ppfd     netrad     patm  snow rain         tmin
1 2004-01-01 -0.227  6.51250 6.514874   1.339710 95825 NA   1.851852e-05  -1.23
2 2004-01-02 -0.499  0.00000 7.121123  -4.381670 95455 NA   5.787037e-06  -2.06
3 2004-01-03 -2.956  7.08750 7.133383  -4.583730 96232 NA   0.000000e+00  -5.82
4 2004-01-04 -4.209 76.00417 9.541324  -9.018790 96367 NA   0.000000e+00 -10.45
5 2004-01-05 -1.192 23.92917 6.732000  -6.912368 96710 NA   0.000000e+00  -8.10
6 2004-01-06 -1.580 23.83750 8.709064 -11.309390 96656 NA   0.000000e+00  -7.24
  tmax  vwind fapar co2     ccov gpp le le_qc nee nee_qc
1 -0.01 1.520 0.02  384.872 NA   NA  NA NA    NA  NA
2 -0.05 2.022 0.02  377.952 NA   NA  NA NA    NA  NA
3 -2.19 2.716 0.02  385.627 NA   NA  NA NA    NA  NA
4 -1.48 1.089 0.02  402.001 NA   NA  NA NA    NA  NA
5  0.53 0.675 0.02  437.166 NA   NA  NA NA    NA  NA
6  0.35 0.701 0.02  507.266 NA   NA  NA NA    NA  NA

### ccov

In [12]:
# read ccov data
ccov_data <- read.csv("../data/01_data_prep/07_era5_cloud_cover_2004-2023.csv")

# convert date column to Date type
ccov_data$date <- as.Date(ccov_data$date)
# print the head of the ccov_data
head(ccov_data)
# update the existing columns in df with values from ccov_data
df <- df %>% 
    left_join(ccov_data %>% select(date, cloud_cover), by = "date", suffix = c("", "_new"))  %>% 
    mutate(ccov = cloud_cover) %>%
    select(-cloud_cover)
# print the head of the df
head(df)

  date       cloud_cover cloud_cover_percentage
1 2004-01-01 1.0000000   100.00000
2 2004-01-02 0.9373863    93.73863
3 2004-01-03 1.0000000   100.00000
4 2004-01-04 0.7758400    77.58400
5 2004-01-05 0.8695803    86.95803
6 2004-01-06 0.9965465    99.65465

  date       temp   vpd      ppfd     netrad     patm  snow rain         tmin
1 2004-01-01 -0.227  6.51250 6.514874   1.339710 95825 NA   1.851852e-05  -1.23
2 2004-01-02 -0.499  0.00000 7.121123  -4.381670 95455 NA   5.787037e-06  -2.06
3 2004-01-03 -2.956  7.08750 7.133383  -4.583730 96232 NA   0.000000e+00  -5.82
4 2004-01-04 -4.209 76.00417 9.541324  -9.018790 96367 NA   0.000000e+00 -10.45
5 2004-01-05 -1.192 23.92917 6.732000  -6.912368 96710 NA   0.000000e+00  -8.10
6 2004-01-06 -1.580 23.83750 8.709064 -11.309390 96656 NA   0.000000e+00  -7.24
  tmax  vwind fapar co2     ccov      gpp le le_qc nee nee_qc
1 -0.01 1.520 0.02  384.872 1.0000000 NA  NA NA    NA  NA
2 -0.05 2.022 0.02  377.952 0.9373863 NA  NA NA    NA  NA
3 -2.19 2.716 0.02  385.627 1.0000000 NA  NA NA    NA  NA
4 -1.48 1.089 0.02  402.001 0.7758400 NA  NA NA    NA  NA
5  0.53 0.675 0.02  437.166 0.8695803 NA  NA NA    NA  NA
6  0.35 0.701 0.02  507.266 0.9965465 NA  NA NA    NA  NA

### gpp, npp, and nee

In [13]:
# read gpp, le, nee data
gpp_data <- read.csv("../data/01_data_prep/08a_gpp.csv")
# print the head of the gpp_data
head(gpp_data)

# convert date column to Date type
gpp_data$date <- as.Date(gpp_data$date)
# update the existing columns in df with values from gpp_data
df <- df %>% 
    left_join(gpp_data %>% select(date, gpp, le, le_qc, nee, nee_qc), by = "date", suffix = c("", "_new")) %>% 
    mutate(
        gpp = gpp_new,
        le = le_new,
        le_qc = le_qc_new,
        nee = nee_new,
        nee_qc = nee_qc_new
    ) %>%
    select(-gpp_new, -le_new, -le_qc_new, -nee_new, -nee_qc_new)
# print the head of the df
head(df)

  date       gpp        le      le_qc nee      nee_qc
1 2004-01-01  0.2187610 7.44814 -9999 0.760671 0.2500000
2 2004-01-02  0.1229460 6.97631 -9999 0.787889 0.3333330
3 2004-01-03 -0.0692721 6.39344 -9999 0.768699 0.9583330
4 2004-01-04 -0.2037980 3.19733 -9999 0.764470 0.2083330
5 2004-01-05  0.0421242 1.08588 -9999 0.753756 0.0416667
6 2004-01-06 -0.5205010 1.45106 -9999 1.321320 0.0208333

  date       temp   vpd      ppfd     netrad     patm  snow rain         tmin
1 2004-01-01 -0.227  6.51250 6.514874   1.339710 95825 NA   1.851852e-05  -1.23
2 2004-01-02 -0.499  0.00000 7.121123  -4.381670 95455 NA   5.787037e-06  -2.06
3 2004-01-03 -2.956  7.08750 7.133383  -4.583730 96232 NA   0.000000e+00  -5.82
4 2004-01-04 -4.209 76.00417 9.541324  -9.018790 96367 NA   0.000000e+00 -10.45
5 2004-01-05 -1.192 23.92917 6.732000  -6.912368 96710 NA   0.000000e+00  -8.10
6 2004-01-06 -1.580 23.83750 8.709064 -11.309390 96656 NA   0.000000e+00  -7.24
  tmax  vwind fapar co2     ccov      gpp        le      le_qc nee
1 -0.01 1.520 0.02  384.872 1.0000000  0.2187610 7.44814 -9999 0.760671
2 -0.05 2.022 0.02  377.952 0.9373863  0.1229460 6.97631 -9999 0.787889
3 -2.19 2.716 0.02  385.627 1.0000000 -0.0692721 6.39344 -9999 0.768699
4 -1.48 1.089 0.02  402.001 0.7758400 -0.2037980 3.19733 -9999 0.764470
5  0.53 0.675 0.02  437.166 0.8695803  0.0421242 1.08588 -9999 0.753756
6  0.35 0.701 0.02  507.266 0.9965465 -0.5205010 1.45106 -9999 1.321320
  nee_qc
1 0.2500000
2 0.3333330
3 0.9583330
4 0.2083330
5 0.0416667
6 0.0208333

In [14]:
# make all the values in snow column to 0
df$snow <- 0
# print the head of the df
head(df)

  date       temp   vpd      ppfd     netrad     patm  snow rain         tmin
1 2004-01-01 -0.227  6.51250 6.514874   1.339710 95825 0    1.851852e-05  -1.23
2 2004-01-02 -0.499  0.00000 7.121123  -4.381670 95455 0    5.787037e-06  -2.06
3 2004-01-03 -2.956  7.08750 7.133383  -4.583730 96232 0    0.000000e+00  -5.82
4 2004-01-04 -4.209 76.00417 9.541324  -9.018790 96367 0    0.000000e+00 -10.45
5 2004-01-05 -1.192 23.92917 6.732000  -6.912368 96710 0    0.000000e+00  -8.10
6 2004-01-06 -1.580 23.83750 8.709064 -11.309390 96656 0    0.000000e+00  -7.24
  tmax  vwind fapar co2     ccov      gpp        le      le_qc nee
1 -0.01 1.520 0.02  384.872 1.0000000  0.2187610 7.44814 -9999 0.760671
2 -0.05 2.022 0.02  377.952 0.9373863  0.1229460 6.97631 -9999 0.787889
3 -2.19 2.716 0.02  385.627 1.0000000 -0.0692721 6.39344 -9999 0.768699
4 -1.48 1.089 0.02  402.001 0.7758400 -0.2037980 3.19733 -9999 0.764470
5  0.53 0.675 0.02  437.166 0.8695803  0.0421242 1.08588 -9999 0.753756
6  0.35 0.701 0.02  507.266 0.9965465 -0.5205010 1.45106 -9999 1.321320
  nee_qc
1 0.2500000
2 0.3333330
3 0.9583330
4 0.2083330
5 0.0416667
6 0.0208333

## Saving final file

In [15]:
# find missing values in the dataframe
missing_values <- colSums(is.na(df))
# print the missing values
print(missing_values)
# save forcing data as csv
write.csv(df, "../data/01_data_prep/09_forcing_data_2004-2023.csv", row.names = FALSE)

  date   temp    vpd   ppfd netrad   patm   snow   rain   tmin   tmax  vwind
     0      0      0      0      0      0      0      0      0      0      0
 fapar    co2   ccov    gpp     le  le_qc    nee nee_qc
     0      0      0      0      0      0      0      0

## Prepare forcing data for CN model

In [16]:
# Load packages without warnings and messages
suppressPackageStartupMessages({
  library(dplyr)
  library(tidyr)
  library(ggplot2)
  library(patchwork)
  library(cowplot)
  library(visdat)
  library(here)
  library(lubridate)
  library(readr)
  library(naniar)
  library(purrr)
  library(rsofun)
})
# read rds forcing data file previously uploaded for cn model as drivers data
drivers <- readRDS("../data/FLX_CH-Oe2_FLUXNET2015_FULLSET_2004-2023_1-3/rsofun_driver_data_v3.4.2.rds") %>% 
  dplyr::filter(sitename == "CH-Oe2") 

# replace forcing data forcing_df <- drivers$forcing[[1]] with a new csv file

# read csv file with forcing data
forcing_df <- read_csv("../data/01_data_prep/09_forcing_data_2004-2023.csv") 

# remove drivers$forcing[[1]] from drivers_data
drivers <- drivers %>% 
  dplyr::select(-forcing)

# add forcing_df to drivers_data as forcing
drivers <- drivers %>% 
  dplyr::mutate(forcing = list(forcing_df))

# Add management data 
# add management data into drivers$forcing
# Management data
#N input
n_input <- read.csv("../data/mangement_data/04_23choe2_ninput.csv")

#fharv 
fharv <- read.csv("../data/mangement_data/04_23ch0e2_fharv.csv")
# convert to fraction from percentage to be consistent with the rest of the data
fharv$fharv <- fharv$fharv / 100

#seed 
seed <- read.csv("../data/mangement_data/04_23ch0e2_seed.csv")

#yieldcn  
yieldcn <- read.csv("../data/mangement_data/04_23ch0e2_yieldcn.csv")

## N deposition------------
# Reactive N input needs to be in gN per day
# added to forcing time series: specify quantity of N added on which day

# Example N input given a constant rate each day
n_input_add <- function(data, n_input) {
  # Ensure date columns are in Date format
  n_input <- n_input %>% mutate(date = as.Date(date))
  
  # Remove duplicates from n_input based on the date column
  n_input <- n_input %>% distinct(date, .keep_all = TRUE)
  
  data <- data %>%
    mutate(forcing = purrr::map(forcing, ~ {
      # Merge forcing with n_input on date
      merged <- left_join(., n_input, by = "date")
      
      # Fill NA values in dno3 and dnh4 with the default dnh4 value from the n_input DataFrame
      merged <- merged %>%
        mutate(
          dno3 = ifelse(is.na(dno3), 0.002003263, dno3),
          dnh4 = ifelse(is.na(dnh4), 0.002017981, dnh4)
        )
      
      # Ensure the merged DataFrame does not have more rows than the original forcing DataFrame
      merged <- merged %>% slice(1:nrow(.))
      
      return(merged)
    }))
  
  return(data)
}
# Add N input to forcing data this will join the drivers data with the N input data
drivers <- n_input_add(drivers, n_input)


## Harvesting-----------
# The fraction of biomass harvested per day needs to be specified in the forcing time series
# cseed and nseed new seeds added after harvesting
# Example driver update assumes harvesting is 0 and new seeds planted after harvest

fharv_seed_add <- function(data, fharv, seed) {
  # Ensure date columns are in Date format
  fharv <- fharv %>% mutate(date = as.Date(date)) %>% distinct(date, .keep_all = TRUE)
  seed <- seed %>% mutate(date = as.Date(date)) %>% distinct(date, .keep_all = TRUE)
  
  data <- data %>%
    mutate(forcing = purrr::map(forcing, ~ {
      # Merge forcing with fharv and seed on date
      merged <- left_join(., fharv, by = "date") %>%
        left_join(seed, by = "date") %>%
        mutate(
          fharv = coalesce(fharv, 0),    # Fill NA values in fharv
          cseed = coalesce(cseed, 0),    # Fill NA values in cseed
          nseed = coalesce(nseed, 0)      # Fill NA values in nseed
        ) %>%
        slice(1:nrow(.))  # Ensure merged DataFrame does not have more rows than original
      
      return(merged)
    }))
  
  return(data)
}
# Add harvesting and seed data to forcing data 
drivers <- fharv_seed_add(drivers, fharv, seed)

## Simulation parameters------------
# The spinup of cn_model must be long enough to equilibrate fluxes

# Function to modify specific columns in each dataframe
modify_params <- function(df_list, spinupyears_val, recycle_val) {
  # Map over each dataframe in the list
  df_list <- map(df_list, ~ {
    # Modify specific columns
    mutate(.x,
           spinupyears = spinupyears_val,
           recycle = recycle_val)
  })
  
  return(df_list)
}

# FLUXNET data for site CH-Oe2 (Oensingen, Switzerland)
drivers$params_siml <- modify_params(drivers$params_siml, 10, 2)
drivers$params_siml[[1]]$c_only <- TRUE

nrow(drivers$forcing[[1]])
# remove rows from drivers$forcing[[1]], when it is leap year such as 2004-02-29
drivers$forcing[[1]] <- drivers$forcing[[1]][!grepl("-02-29", drivers$forcing[[1]]$date), ]
# show number of rows in drivers$forcing[[1]]
nrow(drivers$forcing[[1]])

# save the updated drivers data
saveRDS(drivers, "../data/CH-Oe2_2004-2023_final_ready_for_CNmodel_run_01.rds")

Rows: 7305 Columns: 19
-- Column specification --------------------------------------------------------
Delimiter: ","
dbl  (18): temp, vpd, ppfd, netrad, patm, snow, rain, tmin, tmax, vwind, fap...
date  (1): date

i Use `spec()` to retrieve the full column specification for this data.
i Specify the column types or set `show_col_types = FALSE` to quiet this message.

[1] 7305

[1] 7300

# Error handling for leap year data
- The model was giving errors when it was run with leap year data, so we are removing the leap year data from the forcing data.
- This is done by removing the rows where date contains "-02-29".

In [17]:
# create validation data
# Take site name and forcing (Date and gpp) from drivers and store as cnmodel_validation rds data type
# Extract the actual forcing tibble
forcing_df <- drivers$forcing[[1]]

# Extract only 'date' and 'gpp'
forcing_subset <- forcing_df[, c("date", "gpp", "le", "le_qc", "nee", "nee_qc")]

# Wrap it in a data frame with sitename and data
cnmodel_validation <- data.frame(
  sitename = drivers$sitename,
  stringsAsFactors = FALSE
)

# Add the data column as a list-column
cnmodel_validation$data <- list(forcing_subset)

# Save the final object
saveRDS(cnmodel_validation, file = "../data/cnmodel_validation.rds")

In [18]:
# remove "gpp","le", "le_qc", "nee_qc" from drivers$forcing[[1]]
head(drivers$forcing[[1]])
forcing_df <- drivers$forcing[[1]]
forcing_df <- forcing_df[, !(names(forcing_df) %in% c("gpp","le", "le_qc", "nee_qc"))]
# Replace the modified dataframe back into drivers
drivers$forcing <- list(forcing_df)
# show the head of the drivers$forcing[[1]]
head(drivers$forcing[[1]])
# save the updated drivers data
saveRDS(drivers, "../data/CH-Oe2_2004-2023_final_ready_for_CNmodel_run_02.rds")

  date       temp   vpd      ppfd     netrad     patm  snow rain         tmin
1 2004-01-01 -0.227  6.51250 6.514874   1.339710 95825 0    1.851852e-05  -1.23
2 2004-01-02 -0.499  0.00000 7.121123  -4.381670 95455 0    5.787037e-06  -2.06
3 2004-01-03 -2.956  7.08750 7.133383  -4.583730 96232 0    0.000000e+00  -5.82
4 2004-01-04 -4.209 76.00417 9.541324  -9.018790 96367 0    0.000000e+00 -10.45
5 2004-01-05 -1.192 23.92917 6.732000  -6.912368 96710 0    0.000000e+00  -8.10
6 2004-01-06 -1.580 23.83750 8.709064 -11.309390 96656 0    0.000000e+00  -7.24
  tmax  ... gpp        le      le_qc nee      nee_qc    dno3 dnh4         fharv
1 -0.01 ...  0.2187610 7.44814 -9999 0.760671 0.2500000 0    3.761907e-07 0
2 -0.05 ...  0.1229460 6.97631 -9999 0.787889 0.3333330 0    3.761907e-07 0
3 -2.19 ... -0.0692721 6.39344 -9999 0.768699 0.9583330 0    3.761907e-07 0
4 -1.48 ... -0.2037980 3.19733 -9999 0.764470 0.2083330 0    3.761907e-07 0
5  0.53 ...  0.0421242 1.08588 -9999 0.753756 0.0416667 0    3.761907e-07 0
6  0.35 ... -0.5205010 1.45106 -9999 1.321320 0.0208333 0    3.761907e-07 0
  cseed nseed
1 0     0
2 0     0
3 0     0
4 0     0
5 0     0
6 0     0

  date       temp   vpd      ppfd     netrad     patm  snow rain         tmin
1 2004-01-01 -0.227  6.51250 6.514874   1.339710 95825 0    1.851852e-05  -1.23
2 2004-01-02 -0.499  0.00000 7.121123  -4.381670 95455 0    5.787037e-06  -2.06
3 2004-01-03 -2.956  7.08750 7.133383  -4.583730 96232 0    0.000000e+00  -5.82
4 2004-01-04 -4.209 76.00417 9.541324  -9.018790 96367 0    0.000000e+00 -10.45
5 2004-01-05 -1.192 23.92917 6.732000  -6.912368 96710 0    0.000000e+00  -8.10
6 2004-01-06 -1.580 23.83750 8.709064 -11.309390 96656 0    0.000000e+00  -7.24
  tmax  vwind fapar co2     ccov      nee      dno3 dnh4         fharv cseed
1 -0.01 1.520 0.02  384.872 1.0000000 0.760671 0    3.761907e-07 0     0
2 -0.05 2.022 0.02  377.952 0.9373863 0.787889 0    3.761907e-07 0     0
3 -2.19 2.716 0.02  385.627 1.0000000 0.768699 0    3.761907e-07 0     0
4 -1.48 1.089 0.02  402.001 0.7758400 0.764470 0    3.761907e-07 0     0
5  0.53 0.675 0.02  437.166 0.8695803 0.753756 0    3.761907e-07 0     0
6  0.35 0.701 0.02  507.266 0.9965465 1.321320 0    3.761907e-07 0     0
  nseed
1 0
2 0
3 0
4 0
5 0
6 0